<% provide(:title, "About") %>
<%= render 'layouts/header' %>
  
  
  <nav>
    <ul class="nav-list">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="shop"><%= link_to "Shop", store_path %></li>
      <li class="about_us selected"><%= link_to "About", about_path %></li>
      <li class="contact"><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  
   </header>
  
  
  <div id="main" style="margin-left:0%;">
    
    <div class="about-me">
      <h2>Jonathan</h2>
      <li><%= link_to image_tag("ireland_flag.png") %></li>
      <p>Jonathan is a web developer based in Dublin, Ireland. He has a passion for making websites and technology.</p>
    </div>
    
    <div class="about-me">
      <h2>Brendan</h2>
      <li><%= link_to image_tag("germany_flag.png") %></li>
      <p>Brendan is a product designer with who is currently exploring the fields of UX UI and Webdesign.</p>
    </div>
    
    <div class="about-company">
      <p>Three Piece started in the new year of 2016, what had originally been suggested as a college project, blossomed into 
      a labour of love and time, but it's our great pleasure to welcome you to the site and I hope you will continue shopping with us.</p>
    </div>


  
    
    
    
    
  </div>
		
</div>

<script src="js/jquery-2.2.3.js"></script>
<script src="js/lightbox.js"></script>
</body>

</html>