<% provide(:title, "contact") %>
<%= render 'layouts/header' %>
  
  <nav>
    <ul class="nav-list">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="shop"><%= link_to "Shop", store_path %></li>
      <li class="about_us"><%= link_to "About", about_path %></li>
      <li class="contact selected"><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  
   </header>
   
  <div id="main" style="margin-left:0%;">
  <div id="map">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.696299692068!2d-6.245314384011789!3d53.348692482236395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e8cd86e97e7%3A0x6d51b774ee7fa935!2sNational+College+of+Ireland!5e0!3m2!1sen!2sie!4v1460638624923" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>	
  </div>
  
  
  <div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
      </p>
      
      <p class="email">
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
      </p>
      
      <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" value="SEND" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
  
  </div>
  
 
		
</div>

<script src="js/jquery-2.2.3.js"></script>
	
</body>

</html>