<% provide(:title, "Home") %>
    <ul class="nav-list">
      <li class="home selected"><%= link_to "Home", home_path %></li>
      <li class="shop"><%= link_to "Shop", store_path %></li>
      <li class="about_us"><%= link_to "About", about_path %></li>
      <li class="contact"><%= link_to "Contact", contact_path %></li>
    </ul>
  
  <div class="main">
				<div id="mi-slider" class="mi-slider">
					<ul>
						<li><%= link_to image_tag("suit1.jpg"), store_path %> <h4>Wedding</h4></li>
						<li><%= link_to image_tag("suit2.jpg"), store_path %> <h4>Business</h4></li>
						<li><%= link_to image_tag("suit3.jpg"), store_path %> <h4>Casual</h4></li>
						<li><%= link_to image_tag("suit4.jpg"), store_path %> <h4>Tailored</h4></li>
					</ul>
					<ul>
						<li><%= link_to image_tag("shirt1.jpg"), store_path %> <h4>Red</h4></li>
						<li><%= link_to image_tag("shirt2.jpg"), store_path %> <h4>Blue</h4></li>
						<li><%= link_to image_tag("shirt3.jpg"), store_path %> <h4>Pattern</h4></li>
						<li><%= link_to image_tag("shirt4.jpg"), store_path %> <h4>Flower</h4></li>
					</ul>
					<ul>
						<li><%= link_to image_tag("pants1.jpg"), store_path %> <h4>Business</h4></li>
						<li><%= link_to image_tag("pants2.jpg"), store_path %> <h4>Sport</h4></li>
						<li><%= link_to image_tag("pants3.jpg"), store_path %> <h4>Casual</h4></li>
					</ul>
					<ul>
						<li><%= link_to image_tag("shoes1.jpg"), store_path %> <h4>Formal</h4></li>
						<li><%= link_to image_tag("shoes2.jpg"), store_path %> <h4>Leather</h4></li>
						<li><%= link_to image_tag("shoes3.jpg"), store_path %> <h4>Black Leather</h4></li>
						<li><%= link_to image_tag("shoes4.jpg"), store_path %> <h4>Casual</h4></li>
					</ul>
					
					<nav>
						<a href="#">Suits</a>
						<a href="#">Shirts</a>
						<a href="#">Pants</a>
						<a href="#">Shoes</a>
					</nav>
				</div>
			</div>
  
		
</div>

<script src="js/jquery-2.2.3.js"></script>
		<script src="js/jquery.catslider.js"></script>
		<script>
			$(function() {

				$( '#mi-slider' ).catslider();

			});
		</script>
</body>

</html>