<% provide(:title, "Index") %>

<!DOCTYPE html>
<html lang="en" id="landingbackground">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/landing.css"  media="screen" />
    <title><%= yield(:title) %> | Three Piece Dublin</title>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript">
        
      $(document).ready(function() {
        //If Javascript is running, change css on product-description to display:block
        //then hide the div, ready to animate
        $("div.pop-up").css({'display':'block','opacity':'0'})

        $("a.trigger").hover(
          function () {
            $(this).prev().stop().animate({
              opacity: 1
            }, 500);
          },
          function () {
            $(this).prev().stop().animate({
              opacity: 0
            }, 200);
          }
        )
      });
    </script>
    
</head>
<body id="bodyclass">
  
    
  
    <div style="width:50%"> 
      <a href="home.html"><div id="button"><p>Get started!</p></div></a>
      <img src="assets/logoLanding2.png" alt="logo">
    </div>
    
    
    
    
 <div id="wrapper">  
     <div id="pagewrap">

	<header>
	  
		<h1>Welcome to Three Piece Dublin</h1>
        <p>Our Mission is to create a new experience when you shop online for yourself, for your spouse or for your best friend.</p>
	</header>
		
	<section id="content">
		
        <div class="profile">
        <!-- Hidden on load by CSS -->
        <div class="pop-up">
          <p>
            Browse the site to find the clothes that fit you and your friends.
          </p>
        </div>
        <!-- Show the hidden div on hover -->
        <a href="#" class="trigger">
          <img src="assets/searchz.png" alt="Profile Image" />
          
        </a>
      </div>
	</section>
	
	<section id="middle">
		
		  <div class="profile">
        <!-- Hidden on load by CSS -->
        <div class="pop-up">
          <p>
            Create a selection of your most favourite clothes.
          </p>
        </div>
        <!-- Show the hidden div on hover -->
        <a href="#" class="trigger">
          <img src="assets/pickz.png" alt="Profile Image" />
          
        </a>
      </div>
	</section>

	<aside id="sidebar">
		
		 <div class="profile">
        <!-- Hidden on load by CSS -->
        <div class="pop-up">
          <p>
              Tell your spouse or friend about it and see if they like your pick.
          </p>
        </div>
        <!-- Show the hidden div on hover -->
        <a href="#" class="trigger">
          <img src="assets/sendz.png" alt="Profile Image" />
          
        </a>
      </div>
	</aside>
  </div>
     
</div>
    
 
</body>
    
</html>
