    <ul class="nav-list">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="shop"><%= link_to "Shop", store_path %></li>
      <li class="about_us"><%= link_to "About", about_path %></li>
      <li class="contact"><%= link_to "Contact", contact_path %></li>
    </ul>
  
<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>