    <ul class="nav-list">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="shop"><%= link_to "Shop", store_path %></li>
      <li class="about_us"><%= link_to "About", about_path %></li>
      <li class="contact"><%= link_to "Contact", contact_path %></li>
    </ul>

<% provide(:title, @user.name) %>
<div class="container">
    <div class="row">
      <aside class="col-md-4 col-md-offset-2">
        <h1>Profile Page</h1>
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %> <% if current_user.admin? %> <p style="color:red">ADMIN</p> <% end %> 
            <%= @user.email %>
          </h1>
        </section>
      </aside>
      <main class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg"><%= link_to "Update Profile", edit_user_path(current_user) %></button>
        <% if current_user.admin? %>
          <button type="button" class="btn btn-primary btn-lg"><%= link_to "Edit Users", users_path %></button>
          <button type="button" class="btn btn-primary btn-lg"><%= link_to "Update Products", products_path %></button>
        <% end %>
      </main>
    </div>
</div>

