<div class = "container">
   <div class = "row" >
      <div class = "col-md-6 col-md-offset-3" style = "padding-top:10%;">
        <div class="depot_form">
          <fieldset>
            <legend>Please Enter Your Details</legend>
            <%= render 'form', order: @order %>
          </fieldset>
        </div>

      </div>

   </div>
	
</div>