<p id="notice"><%= notice %></p>
 
<h2>Your Cart</h2>
<table>
  <%= render(cart.line_items) %>
 
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
 
</table>
  <% if logged_in? %>
<%= link_to "Checkout", new_order_path, method: :get, class: "btn-success btn-block" %>
  <% else %>
<%= link_to "Log in & Checkout", login_path, class: "btn-warning btn-block" %> 
  <% end %> 
<%= link_to "Empty Cart", cart, method: :delete,
    data: { confirm: 'Are you sure?' }, class: "btn-danger btn-block"  %>
    
    
