/* Header Styling */ 

body{
	font-family:Helvetica;
}

body h4 {
	font-family:Garamond;
}
	

body ul p a {
	font-family:Garamond;
}

#wrapper {
      margin: 0 auto;
      width: 80%;
    }
    
/* legacy header
	header {
    float:right;
    height:20%;
    width:60%;
}*/ 

/* Mobile hamburger box */ 

/* menu box */

	#toggle {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 24px;
	background: linear-gradient(#FFF, #DDD);
	border: #AAA 1px solid;
	border-radius: 2px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	}

/** Hamburger shape **/

	#toggle > div {
	width: 20px;
	height: 4px;
	background: #333;
	margin: 3px 0px;
	border-radius: 4px;
	transition: border 0.3s linear 0s;
	}

/* hover effects */
	
	#toggle:hover {
	border: #06f 1px solid;
	}
	
	#toggle:hover div {
	background: #06f;
	}
	
/* Menu Wrapper for mobile */
	
	#mobilemenu {
	display: none;
	}

/** Menu Mobile **/
	#tmenu {
	right: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 200px;
	background: #DDD;
	display: none;
	cursor: pointer;
	}

/* Menu styling */ 

/** Menu Options Style **/
	
	#tmenu ul
	{
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 5px 10px 0;
	list-style: none;
	border: 0px;
	}
	
	#tmenu ul li
	{
	display: inline-block;
	right: 0px;
	left: 0px;
	position: relative;
	padding: 15px 20px;
	background: #fff;
	color: #43CC36;
	cursor: pointer;
	width: 100%;
	text-align: center;
	border: 1px solid;

	-webkit-transition: background 0.1s;
	-moz-transition: background 0.1s;
	-ms-transition: background 0.1s;
	-o-transition: background 0.1s;
	transition: background 0.1s;
	}
	
	#tmenu ul li:hover
	{
	background: #B5FFAF;
	color: black;
	}
	


/* #logo-header {
	width:20%;
	height:10%;
}

#header_logo {
    float:left;
}*/ 


/* Search Bar */ 


 .search {
	padding-top:1%;
	position: relative;
	float:right;
}

.search > input {
	outline: none;
}

.search >  input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

.search > input::-webkit-search-decoration,
.search > input::-webkit-search-cancel-button {
	display: none; 
}


.search >  input[type=search] {
	background: #ededed url(../assets/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 25%;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.search >  input[type=search]:focus {
	width: 40%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.search >  input:-moz-placeholder {
	color: #999;
}

.search >  input::-webkit-input-placeholder {
	color: #999;
}

/* #login-header {
    width:35%;
    float:right;
    border:1px solid black;
    padding:2%;
    height:5%;
} */ 


/* Login + shopping cart buttons*/ 
#header_button {
	height:20%;
	width:20%;
	border-top: 1px solid #9d9d93;
	background: #d88a8a;
	background: -webkit-gradient(linear, left top, left bottom, from(#d88a8a), to(#d88a8a));
	background: -webkit-linear-gradient(top, #d88a8a, #d88a8a);
	background: -moz-linear-gradient(top, #d88a8a, #d88a8a);
	background: -ms-linear-gradient(top, #d88a8a, #d88a8a);
	background: -o-linear-gradient(top, #d88a8a, #d88a8a);
	padding: 11px 22px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 16px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
   }
#header_button:hover {
   border-top-color: #c5cfc6;
   background: #c5cfc6;
   color: #474843;
   }
#header_button:active {
   border-top-color: #f8edd1;
   background: #f8edd1;
   }

/* Nav Bar */

.nav-list{
	list-style:none; 
	padding-top:7%;
	margin-left:50%;
}

.nav-list a{
	text-decoration:none;
	transition:color 0.3s ease-out;
	color:inherit;
	margin-left:15%;
	font-size:1.5em;
}

.nav-list li{
	position:relative;
	display:inline-block;
	margin:2%;
	letter-spacing:-1px;
	width:10%;
	padding-right:10%;
}


.home:after, 
.home:before,
.home a:after, 
.home a:before{
	background-color:#C5CFC6;
}

.home:hover{
	color:#D88A8A;
}

.shop:after, 
.shop:before,
.shop a:after, 
.shop a:before{
	background-color:#C5CFC6;
}

.shop:hover{
	color:#D88A8A;
}

.about_us:after, 
.about_us:before,
.about_us a:after, 
.about_us a:before{
	background-color:#C5CFC6;
}

.about_us:hover{
  color:#D88A8A;
}

.contact:after, 
.contact:before,
.contact a:after, 
.contact a:before{
	background-color:#C5CFC6;
}

.contact:hover{
	color:#D88A8A;
}

.nav-list li:after, 
.nav-list li:before, 
.nav-list  a:before, 
.nav-list  a:after{
	position:absolute;
	content:'';
	border-radius:4px;
	}

.nav-list li:after,
.nav-list li:before{
	bottom:-4px;
	height:4px;
}

.nav-list li:not(.selected):before{
	left:0;
	right:-2px;
}

.nav-list li.selected:after{
	left:0;
	right:39px; 
}

.nav-list li.selected:before{
	right:-2px;
	width:13px;
}


.nav-list .selected a:before{
	height:22px;
	width:4px;
	bottom:-22px;
	right:7px;
}

.nav-list .selected a:after{
	height:4px;
	width:40px;
	bottom:-13px;
	right:5px;
	transform:rotate(30deg);
}


/* Footer Social Media */ 

#social-footer {
    position:fixed;
    top:110px;
    left:100px;
}


/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 20px;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}


/*

Twitter blue:  #63CCEE;
Facebook blue:  #507ABD;
Google+: #EB6B52;
LinkedIn: #1086C8;
Pinterest #F05F5C;

*/


.twitter {
	background-color: rgba(64,153,255,.7);
}
.facebook  {
	background-color: rgba(80,122,189,.7);
}
.google-plus {
	background-color: rgba(219,90,60,.7);
}
.linkedin {
	background-color: rgba(16,134,200,.7);
}
.pinterest {
	background-color: rgba(203,32,39,.7);
}


/*HOVER*/

.twitter span{
	background-color: rgba(64,153,255,.7);
}
.facebook span {
	background-color: rgba(80,122,189,.7);
}
.google-plus span {
	background-color: rgba(219,90,60,.7); 
}
.linkedin span {
	background-color: rgba(16,134,200,.7);
}
.pinterest span {
	background-color: rgba(203,32,39,.7);
}


.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
	color: white;
}


/* JQUERY SLIDER */ 

.mi-slider {
	margin-top: 30px;
	padding-top:3%;
	height: 450px;
	clear:both;
}

.mi-slider ul {
	list-style-type: none;
	 position: absolute; 
	width: 100%;
	left: 0;
	 
	overflow: hidden;
	text-align: center;
	pointer-events: none;
}

.no-js .mi-slider ul {
	position: relative;
	left: auto;
	bottom: auto;
	margin: 0;
	overflow: visible;
}

.mi-slider ul.mi-current {
	pointer-events: auto;
}

.mi-slider ul li {
	display: inline-block;
	padding: 20px;
	width: 20%;
	max-width: 300px;
	-webkit-transform: translateX(600%);
	transform: translateX(600%);
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.no-js .mi-slider ul li {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mi-slider ul li a,
.mi-slider ul li img {
	display: block;
	margin: 0 auto;
}

.mi-slider ul li a {
	outline: none;
	cursor: pointer;
}

.mi-slider ul li img {
	max-width: 100%;
	border: none;
}

.mi-slider ul li h4 {
	display: inline-block;
	font-family: Garamond, serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.3em;
	padding: 20px 10px 0;
}

.mi-slider ul li:hover {
	opacity: 0.7;
} 

.mi-slider nav {
	position: relative;
	top: 450px;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	border-top: 5px solid #333;
}

.no-js nav {
	display: none;
}

.mi-slider nav a {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 40px 30px 30px 34px;
	position: relative;
	color: #888;
	outline: none;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
	
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
	content: '';
	position: absolute;
	top: -5px;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
	border-color: transparent;
	border-top-color: #fff;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
	border-color: transparent;
	border-top-color: #333;
	border-width: 27px;
	left: 50%;
	margin-left: -27px;
}

/* Move classes and animations */

.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
	-webkit-animation: scaleUp 350ms ease-in-out both;
	animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}

.mi-slider ul:first-child li:first-child {
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
}

.mi-slider ul:first-child li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	animation-delay: 180ms;
}

.mi-slider ul:first-child li:nth-child(3) {
	-webkit-animation-delay: 270ms;
	animation-delay: 270ms;
}

.mi-slider ul:first-child li:nth-child(4) {
	-webkit-animation-delay: 360ms;
	animation-delay: 360ms;
}

/* moveFromRight */

.mi-slider ul.mi-moveFromRight li {
	-webkit-animation: moveFromRight 350ms ease-in-out both;
	animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.mi-slider ul.mi-moveFromLeft li {
	-webkit-animation: moveFromLeft 350ms ease-in-out both;
	animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.mi-slider ul.mi-moveToRight li {
	-webkit-animation: moveToRight 350ms ease-in-out both;
	animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.mi-slider ul.mi-moveToLeft li {
	-webkit-animation: moveToLeft 350ms ease-in-out both;
	animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	animation-delay: 180ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
	-webkit-animation-delay: 270ms;
	animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); }
	100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
	100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}

@keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}

.mi-slider {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}




/* INVENTORY PAGE */ 

#main {
	margin-top:5%;
	width:100%;
	float:left;
	margin-right:2%;
}

#bottom_panel a:visited { 
	text-decoration:none;
	color:white;
}

header h1 {
	float:left;
	margin-left:30%;
}

#productbox {
	height:25%;
	width:18%;
	padding:2%;
	margin:1%;
	float:left;

}


#productbox img {
	width:100%;
	height:100%;
	border:3px solid #9D9D93;
}

#bottom_panel {
	border:3px solid #9D9D93;
	padding-top:2%;
	padding-bottom:2%;
	width:100%;
	background-color:#474843;
	color:white;

}

#productbox p {
	text-align:center;
}

#bottom_panel > #basket {
	float:right;
	margin-right:5%;
}

#bottom_panel > #info {
	margin-left:10%;
	cursor:pointer;
}

/* Information Hover */ 

.info_hover{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 20%;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-50px;
    display:none;
    padding:0 20px;
    opacity:0.9;
    width:100%;

}
.info_hover:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.info_hover p{
    margin:100px;
    float:left;
    position:relative;
    cursor:pointer;
}

#info:hover .info_hover{
    display:block;
}


/* About us Information */ 



.about-me {
	width: 30%;
	border: 2px solid #9D9D93;
	outline: 5px solid #9D9D93;
	outline-offset: 10px;
	padding: 1em;
	float:left;
	margin:5%;
}


.about-me h2 {
	font-family: Garamond;
	text-align: center;
	font-size: 1.2em;
	margin: 10;
	color: #474843;
	text-shadow: 1px 1px 0px rgba(0,0,0, .2);
}

.about-me img {
	border: 5px solid #9D9D93;
	border-radius: 50%;
	box-shadow: 1px 1px 1px gray;
	display: block;
	margin: 0 auto;
	width:100px;
	height:100px;
}

.about-me p {
	text-align: justify;
	line-height: 1.5;
	font-family: serif;
}

.about-company {
	width:100%;
	height:100%;
	float:left;
}

.about-company img {
	width:10%;
	height:10%;
	float:right;
}

.about-company p {
	text-align: justify;
  	line-height: 1.5;
  	font-family: serif;
  	margin-left:1%;
}

/* Login Page */


  #login_form , #signupform {
	float:right;
	padding-top:5%;
	width:30%;
  }

  #login_all input {
	font-family: sans-serif;
	font-size: 0.875em;
	width: 50%;
	height: 50px;
	padding: 0px 15px 0px 15px;
	outline: none;
	color: #726659;
	border: solid 1px #b3aca7;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
  }


  #login_all .log_buttons
  {
	width: 57%;
	padding: 0;
	margin: 0px 0px 0px 0px;
	font-family: sans-serif;
	font-size: 0.875em;
	color: #b3aca7;
	outline:none;
	cursor: pointer;
	border: solid 1px #b3aca7;
  }

  #login_all .log_buttons:hover
  {
	color: #D88A8A;
	background-color:#F8EDD1;
  }
	
/*	.input > div > label
	{
	display: block;
	width: 100px;
	margin: .5em 0;
	border: dotted 1px #ccc;
	}
	
	*/ 
	
/* Contact Form Page */ 


#feedback-page {
	text-align:center;
}

#text-feedback {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main {
	width:60%;
	float:right;
	padding-top:0px;
}

#form-div {
	background-color:#9D9D93;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 50%;
	float: right;
	left: 50%;
	margin-left: -260px;
}

.feedback-input {
	opacity:0.9;
	color:#0493bd;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(../assets/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(../assets/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(../assets/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(../assets/email.svg);
	background-size: 30px 30px;
  	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(../assets/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

#form-dive input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

#map {
	float:left;
	width:40%;
}



/** Start Media Queries **/

@media only screen and (max-width: 580px) {
#form-div {
	left: 3%;
	margin-right: 3%;
	width: 88%;
	margin-left: 0;
	padding-left: 3%;
	padding-right: 3%;
	}
}
	
@media all and (max-width: 600px) {
	#mobilemenu {
	display: block;
	}
		
	nav {
	display: none;
	}
	
	header {
	margin-top: 50px;
	}
	
	.icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  	.icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

 	 /* Icons */
  	.icon-button i {
	height: 1.6rem;
	line-height: 1.6rem;
	width: 1.6rem;
  }
  
  .pinterest {
   display: none; 
  }



/* Shopping Cart */ 



.clearfix {
  content: "";
  display: table;
  clear: both;	
}

#site-header, #site-footer {
	background: #fff;
}

#site-header {
	margin: 0 0 30px 0;
	float:left;
}

#site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	position: relative;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

a:hover {
	color: #53b5aa;
}

#site-header h1 span {
	color: #53b5aa;
}

#site-header h1 span.last-span {
	background: #fff;
	padding-right: 150px;
	position: absolute;
	left: 217px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#site-header h1:hover span.last-span, #site-header h1 span.is-open {
	left: 363px;
}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.container {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 980px;
	float:left;
}

#shopcart {
	width: 100%;
}

#shopcart h1 {
	font-weight: 300;
}

#shopcart a {
	color: #53b5aa;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#shopcart a:hover {
	color: #000;
}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.product {
	border: 1px solid #eee;
	margin: 20px 0;
	width: 100%;
	height: 195px;
	position: relative;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.product img {
	width: 100%;
	height: 100%;
	float:left;
}

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
}

.product header {
	background: #000;
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 24%;
	height: 195px;
}

.product header:hover img {
	opacity: .7;
}

.product header:hover h3 {
	bottom: 73px;
}

.product header h3 {
	background: #53b5aa;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;

	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
}

.product h1 {
	color: #53b5aa;
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: #53b5aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}

#site-footer h1 {
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-style: none none solid none;
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 7px 0;
	padding: 14px 40px;
	text-align: center;
}

#site-footer h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0 0 0;
}

#site-footer h3 {
	font-size: 19px;
	font-weight: 300;
	margin: 15px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.btnone {
	background: #53b5aa;
	border: 1px solid #999;
	border-style: none none solid none;
	cursor: pointer;
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 16px 0;
	width: 290px;
	text-align: center;
	float:right;
	margin-right:2px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.btnone:hover {
	color: #fff;
	background: #429188;
}

.type {
	background: #fcfcfc;
	font-size: 13px;
	padding: 10px 16px;
	left: 100%;
}

.type, .color {
	border: 1px solid #ccc;
	border-style: none none solid none;
	position: absolute;
}

.color {
	width: 40px;
	height: 40px;
	right: -40px;
}

.red {
	background: #cb5a5e;
}

.yellow {
	background: #f1c40f;
}

.blue {
	background: #3598dc;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}

/* MEDIA QUERY */ 

}

	@media screen and (min-width: 601px) and (max-width: 1024px) {

	#mobilemenu {
	display: none;
	}
	
	nav ul li {
	width: auto;
	}
	
}
	
	@media screen and (min-width: 1024px) {
	#mobilemenu {
	display: none;
	}
	
	nav ul li {
	width: 15%;
	}
	
}

@media screen and (max-width: 910px){
	.mi-slider nav {
		max-width: 90%;
	}
	.mi-slider nav a {
		font-size: 12px;
		padding: 40px 10px 30px 14px;
	}
	
	#searcharea {
		display:none;
	}
	
	.mi-slider ul {
		position: relative;
		display: inline;
		bottom: auto;
		pointer-events: auto;
	}
	
}

@media screen and (max-width: 740px){
	.mi-slider {
		height: 300px;
	}
	.mi-slider nav {
		top: 220px;
		display: none;
	}


	.mi-slider ul {
		position: relative;
		display: inline;
		bottom: auto;
		pointer-events: auto;
	}
	
	#searcharea {
		display:none;
	}
}

@media screen and (max-width: 490px){ 
	.mi-slider {
		text-align: center;
		height: auto;
	}

	.mi-slider ul {
		position: relative;
		display: inline;
		bottom: auto;
		pointer-events: auto;
	}

	.mi-slider ul li {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
		padding: 10px 3px;
		min-width: 140px;
	}

	.mi-slider nav {
		display: none;
	}
	
	#searcharea {
		display:none;
	}
}
