<% provide(:title, "Shop") %>
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>  
  <nav>
    <ul class="nav-list">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="shop selected"><%= link_to "Shop", store_path %></li>
      <li class="about_us"><%= link_to "About", about_path %></li>
      <li class="contact"><%= link_to "Contact", contact_path %></li>
              <li class="navtxt"id='cart-button'>
              <%= link_to @cart do %>
                <%= image_tag("cart_small.png") %>
              <% end %>
        </li>
    </ul>
  </nav>
  



<h1>Store</h1>
  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
  <% end %>
  
<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price, :unit => "€") %></span>
        <%= button_to 'Add to Cart', line_items_path(product_id: product),
          remote: true %>
    </div>
  </div>
<% end %>

