<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <title><%= yield(:title) %> | Three Piece Dublin</title>
          <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
          <script src="js/web_script.js"></script>
          <%= favicon_link_tag 'favicon.ico' %>
          <script src="js/modernizr.custom.63321.js"></script>
          <script> 
                
          function toggleM(){
			var tmenu = document.getElementById("tmenu");
			if(tmenu.style.display == "block"){
				tmenu.style.display = "none";
			} else {
				tmenu.style.display = "block";
			}
		}
          </script>
  
  </head>
  
<body>
<div id="wrapper">
 	<div id="mobilemenu">
	
			<div id="toggle" onclick="toggleM()">
				<div></div>
				<div></div>
				<div></div>
			</div>
			
			<div id="tmenu">
				<ul>
					<a href="home.html"><li>Home</li></a>
					<a href="inventory.html"><li>Inventory</li></a>
					<a href="about.html"><li>About</li></a>
					<a href="contact.html"><li>Contact</li></a>
					<a href="login.html"><li>Login</li></a>
					<a href="cart.html"><li>Cart</li></a>
				</ul>
			</div>
			
	</div>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
      <h2 class="navbar-brand brand-name">
           <%= link_to image_tag("logo.png"), root_url %>
       </h2>
   
 
      <ul class="nav navbar-nav navbar-left" style="padding-top:2%">
          <a href="#" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
          <a href="#" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
          <a href="#" class="icon-button google-plus"><i class="fa fa-google"></i><span></span></a>
          <a href="#" class="icon-button linkedin"><i class="fa fa-linkedin"></i><span></span></a>
          <a href="#" class="icon-button pinterest"><i class="fa fa-pinterest"></i><span></span></a>
        </ul>
 
      <ul class="nav navbar-nav navbar-right .pull-right">
       <% if logged_in? %>
              <li><%= link_to "Profile", current_user, class: "btn btn-lg" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-lg" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "btn btn-lg" %></li>
          <li><%= link_to "Sign up", signup_path, class: "btn btn-lg" %></li>
        <% end %>
        
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
      </ul>
    </nav>
  </div>
</header>